@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


*{
    box-sizing: border-box;
}

html{ 
    scroll-behavior: smooth;
}


body{
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    line-height: 1.7;
    font-weight: 500; 
    color: #000; 
}

header{
    width: 100%; 
     
}

header .header-info{
    background-color: #FE7005;
    color: #fff;
}

header .header-menu{ 
    border-bottom: inset;
}

header .header-menu #logo{
    width: 100%;
    max-width: 120px;
    height: auto;
}

header .header-menu .navbar .navbar-nav .icon img{
    width: 100%;
    max-width: 40px;
    height: auto;
     
}

header .header-menu .navbar .navbar-nav .title{
    
    font-weight: 700;
}

.navbar{
    background: #fff;

}

.contact-footer-mobile{
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #FE7005;
    color: #FFF;
    z-index: 999;
    width: 10%;
}
.contact-icon{
    width: 50px;
}

.contact-footer-mobile .contact-mobile:hover{
    background-color: #f19752;
}
/* Main */

.header-info{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000 !important;
    overflow: hidden;  
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 43px;
    z-index: 999 !important;
    overflow: hidden;
    border-bottom: 1px solid #000;
}

main{
    margin-top: 146px;
}

main #carouselIndicators .carousel-inner{
    max-height: 600px;
}

/* Footer */
footer{
    background-color: #222222;
    color: #fff;
}

#mobile-contact{
    position: fixed;
    z-index: 999;
    left: 150px;
    top: 60px;
    font-size: 18px;
}

.btn-contact{
    color: #fff;
    background-color: #FE7005;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 5px 10px;
}

.text-title{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold; 
    background-color: #FE7005;
}

td{
    border: 1px solid #dee2e6 !important;
    text-align: center !important;
    vertical-align: middle !important;
    padding: 0px !important;
}

@media only screen and (max-width: 600px){
    
    .navbar{
        margin: 0%;
    }


    .contact-footer-mobile{
        background-color: #FE7005;
        color: #fff;
        position: fixed;
        display: flex;
        justify-content: space-between;
        bottom: 0%;
        z-index: 999 !important;
        width: 100%
    }
    .contact-mobile{
        width: 50%;
    }
}